{% load static %}
{% load get_status %}
<!-- Cart items details -->
    <div class="small-container cart-page">
        {% if orders %}
        <table>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total price</th>
                <th>Status</th>
            </tr>
           {% for items in orders %}
            <tr>
                <td>
                  <p>{{ items.id }}</p>
                </td>
                <td>
                 <p>{{ items.created_at }}</p>      
                </td>
                <td>
                <p>{{ items.total }}</p>
                </td>
                <td>
                    <p>{% get_status items.order_status %}</p> 
                </td>
            </tr>
   {% endfor %}
        </table>
        {% else %}
        <p>no orders</p>
        {% endif %}
    </div>