
{% load get_total %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/pay.css' %}">
</head>
<body>
    <div class="main">
      <div class="details">
        <form action="{% url 'checkout_cart' %}" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <span>Basic Details</span>
         <br><hr><br>
         <div class="row">
         <input type="text" name="fname" id="" value="{{ delivery.fname }}" placeholder="First Name">
         <input type="text" name="lname" id="" value="{{ delivery.lname }}" placeholder="Last Name">
        </div><br><br>
        <div class="row">
         <input type="text" name="email" id="" value="{{ delivery.email }}" placeholder="Email">
         <input type="text" name="phone" id="" value="{{ delivery.phone }}" placeholder="Phone">
         </div><br><br>
         <textarea name="address" placeholder="Address" value="" id="">{{ delivery.address }}</textarea><br><br>
         <div class="row">
         <input type="text" name="city" value="{{ delivery.city }}" id="" placeholder="City">
         <input type="text" name="state" value="{{ delivery.state }}" id="" placeholder="State">
         </div><br><br>
         <input type="text" name="pincode" id="" value="{{ delivery.pincode }}" placeholder="Pincode">
        <input type="hidden" name="total" value="{% get_total cart %}">
      </div>
      <div class="pay">
       
        <span>Order Summary</span>
        <br><hr><br>
        <table>
            <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
         </tr>
         {% for cart_item in cart.added_item.all %}
         <tr>
            <td>{{ cart_item.product.title }}</td>
            <td>{{ cart_item.quantity }}</td>
            <td>{{ cart_item.product.price  }}</td>
         </tr>
         {% endfor %}
         <tr >
            <td rowspan="2">Total</td>
            <td></td>
            <td>{% get_total cart %}</td>
         </tr>
        </table>
        <div class="footer">
        <button class="btn1" type="submit">COD | Place Order</button>
        
        <button class="btn2" type="button">Pay Now</button>
        </div>
      </div>
        </form>
    </div>
</body>
</html>


