{% extends 'blank_layout.html' %}
{% block content %}
{% load static %}
    <!-- Single Products -->
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="{{ product.image.url }}" width="100%" id="ProductImg">


            </div>
            <div class="col-2">
                <p>{{ product.title }}</p>
                <h1>{{ product.title }}</h1>
                <h4>{{ product.price }}</h4>
                <select>
                    <option>Select Size</option>
                    <option>XXL</option>
                    <option>XL</option>
                    <option>L</option>
                    <option>M</option>
                    <option>S</option>
                </select>
                <form action="{% url 'add_to_cart' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <input type="number" name="quantity" value="1">
                <input type="hidden" value="{{ product.id }}" name="product_id">
                <button  class="btn" type="submit">Add To Cart</button>
                
                </form>
                <h3>Product Details <i class="fa fa-indent"></i></h3>
                <br>
                <p>{{ product.description }}</p>
            </div>
        </div>
    </div>
    <!-- title -->
    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <p>View More</p>
        </div>
    </div>
    <!-- Products -->
    <div class="small-container">
        <div class="row">
            {% for data in related %}
            <div class="col-4">
                <img src="{{ data.image.url }}">
                <h4>{{ data.title }}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>{{ data.price }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

    

